* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  font-family: 'Roboto', sans-serif;
} */

main {
  transition: margin-left 0.3s ease !important;
  margin-left: 0px !important;
}

main.with-sidebar {
  margin-left: 250px !important
}

footer {
  transition: margin-left 0.3s ease !important;
  margin-left: 0px !important
}

footer.with-sidebar {
  margin-left: 250px !important
}